<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h1 class="title">Promote Pawn</h1>
        <div class="buttons">
          <button class="button" (click)="promote(PieceType.Queen)">Queen</button>
          <button class="button" (click)="promote(PieceType.Rook)">Rook</button>
          <button class="button" (click)="promote(PieceType.Bishop)">Bishop</button>
          <button class="button" (click)="promote(PieceType.Knight)">Knight</button>
        </div>
      </div>
    </div>
  </div>
